/* .main */
.main {
	margin: auto;
}
.main section {
	background-color: white;
}
.main section:first-child {
	margin: 6rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2rem 0;
}
.main section:first-child h2 {
	flex-basis: 95%;
	text-align: center;
	color: #95ae12;
	font-size: 3.5rem;
}
.main h2::after {
	content: "";
	border-bottom: 1px solid #95ae12;
	margin-top: -17px;
	display: block;
}
h2 span {
	background-color: white;
}
.main section:first-child  article {
	flex-basis: 40%;
	text-align: center;
}
.main section:first-child article a img {
	display: block;
	width: 30rem;
}

.main section:first-child article a {
	display: inline-block;
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	color: dimgray;
}
.main article h2 {
	flex-basis: 95%;
	text-align: center;
	color: #95ae12;
	font-size: 3.5rem;
	width: 95%;
}
/* Second section */
#bestProduct {
	margin-bottom: 10rem;
}
#bestProduct article {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}
#bestProduct img {
	width: 50rem;
}
#bestProduct p {
	font-size: 3rem;
	text-align: center;
	color: dimgray;
}
.grayBold {
	font-weight: bold;
}
#bestProduct button {
	background-color: #b09067;
	padding: 3rem;
	border: none;
	font-size: 3rem;
	color: white;
}
.para {
	width: 90%;
}