/* Font */
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=VT323');

/***********/
/* Global */
/*********/
* {
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}
html {
	font-size: 62.5%;
}
body {
	background: url("../img/beige.jpg") fixed border-box no-repeat;
	font-size: 1.6rem;
}
/* header */
header nav {
	box-shadow: 0px 0px 2.5px black;
	font-size: 1.6rem;
}
#myName {
	font-family: "Gugi";
	text-shadow: lightblue 0 0 2rem;
}
#myName:hover {
	font-weight: bold;
}
#logoSite {
	width: 3rem;
}
#languageLink {
	color: gray;
}
#languageLink:hover {
	color: rgba(0,0,0,.5);
	font-weight: bold;
	text-decoration: none;
}
#languageLink img {
	width: 1.8rem;
	margin-bottom: 0.2rem;
}

/*********/
/* main */
/*******/
main {
	margin-top: 6.5rem;
}
main section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 80%;
	margin: auto;
	margin-top: 1rem;
	box-shadow: 0px 0px 5px black;
}
section>h1 {
	margin: 1rem;
	font-size: 5rem;
	font-family: "Gugi";
	text-shadow: lightblue 0 0 2rem;
}
section>h2 {
	font-size: 3rem;
	font-family: "Gugi";
	margin: 1rem;
}
section p {
	margin: 0 1rem 1rem;
}

ul {
	list-style: none;
}
li {
	font-size: 2rem;
}
li:hover {
	color: red;
}
#myBtnToTop {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 60px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #a79c80; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 7px 11px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 1.6rem; /* Increase font size */
	font-weight: bold; /* Set font to bold */
	letter-spacing: 0.6; /* space between the letters */
	font-family: inherit; 
}
#myBtnToTop:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}


/* ul>li {
	margin: 0 2rem;
} */

/***********/
/* Footer */
/*********/
footer {
	font-size: 1.6rem;
}