/* Global */
* {
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}
html {
	font-size: 62.5%;
}
body {
	max-width: 1100px;
	background-color: #f2f2f2;
	font-size: 1.6rem;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}

/* .header */
.header {
	background: url("../img/bg.jpg") no-repeat;
	background-size: cover;
	padding: 0 0 8rem 0;
}
.header p {
	margin: 0;
	text-align: center;
	background-color: rgba(135, 158, 15, 0.4);
	font-size: 3.5rem;
	color: white;
}
.header img {
	width: 50rem;
}
.header nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header a {
	padding: 2rem 0;
	text-align: center;
	color: white;
	font-size: 4rem;
	line-height: 200%;
}
.header div {
	display: flex;
	justify-content: center;
	margin-top: 10rem;
}
.panier {
	position: fixed;
	top: 6rem;
	background-color: #96b011;
	/*border: solid 1px black;*/
	box-shadow: 0px 0px 12px #819613;
	border-radius: 0 5rem 5rem 0;
	padding: 2rem;
	font-weight: bold;
	font-size: 3rem;
	color: white;
}
.panier .fas {
	border: solid 1px #d8e2a5;
	border-radius: 100%;
	padding: 2rem 1.4rem;
	font-size: 2.5rem;
	color: #d8e2a5;
}

/* footer */
.info {
	background-color: #879e0f;
	color: #ced79e;
	display: flex;
	justify-content: center;
}
.info p {
	width: 100%;
	font-size: 2rem;
}